:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;
  color: #CCC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 410px;
  min-height: 100vh;
}

input {
  height: 5vh;
  border-radius: 5px;
  border: none;
  padding: 5px;
  text-align: center;
}

input:focus {
  border: none;
  outline: rgb(255, 255, 150) auto 1px;
}

button {
  height: 5vh;
  border-radius: 5px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

/* Layout */
.row {
  height: 10vh;
}

/* Helpers */
.icon {
  padding-left: 15px
}

.success {
  color: blue
}

.error {
  color: red;
}

/* Buttons */
.bnt-check {
  color: #FFF;
  font-weight: 600;
  background-color: green;
}

.bnt-check:hover {
  background-color: rgb(1, 92, 1);
}

.half {
  width: 50%;
}

.full {
  width: 100%;
}

.btn-group {
  display: flex;
  border: 1px solid #CCC;
}

.btn-group div {
  flex: 1;
  box-sizing: border-box;
}

.btn-group div:hover {
  background-color: #303030;
}

.btn-group div:first-child {
  border-right: 1px solid #CCC;
}

.btn-group button {
  background: none;
  color: #CCC;
  font-weight: 800;
}

.btn-group button:focus {
  background-color: #000;
}